[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pysnooper = "*"
docopt = "*"

[packages]
requests = "*"
flask = "*"
loguru = "*"
redis = "*"
mopidyapi = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
