[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pysnooper = "*"

[packages]
requests = "*"
flask = "*"
loguru = "*"
pprint = "*"
mopidy = "*"
redis = "*"
websocket-client = "*"

[requires]
python_version = "3.7"
